.nav-item {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: initial;
}

.nav-item:hover {
  background-color: #8fc4fc1a;
  color: #4f62f4;
}

.nav-item.active {
  background-color: #81beff2b;
  color: #4f62f4;
}

.nav-item:hover .MuiSvgIcon-root,
.nav-item.active .MuiSvgIcon-root {
  color: #4f62f4;
}
